* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    user-select: none;
}
.dice{
    background-color: #fff8dc;
/*     border: 1px solid black;
 */    font-weight: 500;
    border-radius: 5px;
    font-size: 1.8em;
    width: 2.2em;
    height: 2.2em;
    padding-top: 0.5em;
    text-align: center;
    cursor: pointer;
}
@media screen and (min-width: 991px) {
    .dice{
        font-size: 60px;
        width: 100px;
        height: 100px;
        padding: 12px 0 0 0;
    }
}
/* .container{
    margin: 0 auto;
    width: 1200px;
} */
.container {
    width: 100%;
    margin:0 auto
}
@media screen and (min-width: 767px) {
    .container {
        width: 717px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 991px) {
    .container {
        width: 931px;
    }
}
@media screen and (min-width: 1199px) {
    .container {
        width: 1139px;
    }
}
/* header{
    height: 100px;
    background-color: darkgoldenrod;
    
} */
h1{
    font-size: 2.8em;
    position: absolute;
    padding-left: 40px;
    padding-top: 10px;
}
header h1{
    font-size: 2.6em;
    padding-top: 20px;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 767px) {
    main{
        border-radius: 30px;
        overflow: hidden ;
        display: flex;
        flex-direction: row;
        margin-top:40px
    }
}
@media screen and (min-width: 991px) {
    .container {
        width: 931px;
    }
}
@media screen and (min-width: 1199px) {
    .container {
        width: 1139px;
    }
}
.playGround{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    flex-shrink: 1;
    width: 100%;
}
.zoneMot{
    width: 100%;
    display: none;
    justify-content: center;
}
.zoneInputWord{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wordHistoric{
    padding: 10px 40px;
    width: 100%;
    max-width: 100%;
    height: 100px;
}
aside{
    border-left: 1 px solid black;
    margin: 15px;
    display: flex;
    justify-content: center ;
    flex-shrink: 0;
    flex-direction: column;
}
.timer{
    border-bottom: 1px solid black;
    padding: 15px;
    width: 100%;
}
.time{
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.btn-2{
    background-color: cornsilk;
    /* box-shadow: 0 0 5px black; */
    border-radius: 5px;
    font-size: 1em;
    padding : 10px;
    width: 100px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}
.btn{
    background-color: cornsilk;
    /* box-shadow: 0 0 5px black; */
    border-radius: 5px;
    font-size: 2em;
    padding : 10px;
    width: 150px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}
.btnValider{
    background-color: cornsilk;
    /* box-shadow: 0 0 5px black; */
    border-radius: 5px;
    font-size: 1em;
    padding : 5px;
/*     width: 100px;
 */    text-align: center;
    margin: 15px;
    cursor: pointer;
}
.inputword{
    background-color: cornsilk;
    border-radius: 5px;
    font-size: 1em;
    padding : 5px;
    margin: 15px;
    width: 200px;
    height: 29.58px;
}
.btn:hover, .btnValider:hover, .btn-2:hover, .btn-continuer:hover{
transform: scale(1.02);
}
.resume{
    display: none;
}
.playtimer{
    display: none;
}
.resetTimer{
    display: none;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-color: #efdc93;
    padding: 160px 0 80px 0;
}
@media screen and (min-width: 767px) {
    .section1{
        width: 65%;
        padding: 160px 0 80px 0;
    }
}
@media screen and (min-width: 1199px) {
    .section1{
        align-items: center;
        padding:0;
    }
}
.section2{
    width: 100%;
    background-color: darkgoldenrod;
}
@media screen and (min-width: 767px) {
    .section2{
        width: 35%;
    }
}
.plateau{
    display: flex;
    justify-content: center;
}
.controlTimer{
    display: flex;
    justify-content: space-around;
}
@media screen and (min-width: 767px) {
    .controlTimer{
        justify-content: space-between;
    }
}
.gameControl{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newGame{
    width: 80% ;
    margin-top: 30px;
}
.rules h2{
    text-decoration: underline;

}
/* .rules h2:hover{
    color: #efdc93;
} */
aside thead{
    background-color: #efdc93;
}

aside tbody {
    background-color: #fff8dc;
}
aside table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

aside td,aside th {
    padding: 5px 10px;
}

aside td {
    text-align: center;
    font-size: .8rem;
}
aside th {
    font-size: 1rem;
}
.rules p{
    font-size: 1em;
}
.section1 td:hover{
    transform: scale(1.01);
}
.tempsEcoule{
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    position: absolute;
    background-color: #efdc93;
}
.btn-continuer{
    background-color: cornsilk;
    /* box-shadow: 0 0 5px black; */
    border-radius: 5px;
    font-size: 1.4em;
    padding : 10px;
    width: 150px;
    text-align: center;
    margin: 15px;
    cursor: pointer;  
}

.motValid{
    color: green;
}
.motInvalide{
    color: red;
    text-decoration: line-through;
}
