* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}
.dice{
    background-color: rgb(217 217 217);
    border: 1px solid black;
    font-weight: 500;
    border-radius: 5px;
    font-size: 60px;
    width: 100px;
    height: 100px;
    padding-top: 12px;
    text-align: center;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
header{
    height: 100px;
    background-color: darkgoldenrod;
}
header h1{
    font-size: 2.6em;
    padding-top: 20px;
    margin: 0;
}
main{
    padding-top: 80px;
    border-radius: 30px;
    background-color: darkgoldenrod;
    display: flex;
    border: 1 px solid black;
    padding: 40px;
}
main{
    display: flex;
    justify-content: space-between;
}
aside{
    border-left: 1 px solid black;
    margin: 15px;
    display: flex;
    justify-content: center ;
}
.timer{
    border-bottom: 1 px solid black;
}
.time{
    font-size: 2em;
    text-align: center;
}
.btn{
    background-color: cornsilk;
    box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    font-size: 2em;
    padding : 10px;
    width: 150px;
    text-align: center;
    margin: 15px;
}
.resume{
    display: none;
}
.playtimer{
    display: none;
}
.resetTimer{
    display: none;
}
.section1{
    width: 70%;
    border-right: 3px solid #dbba6b ;
}
.section2{
    width: 30%;
}
.plateau{
    display: flex;
    justify-content: center;
}